body {
  display: grid;
  justify-content: center;
  margin-top: 25px;
  background-color: rgba(250, 235, 215, 0.877);
  font-style: arial;
}

.container {
  display: flex;
  color: rgb(10, 10, 10);
  background-color: rgba(0, 0, 0, 0.281);
  height: 95%;
  width: 95%;
}

.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2%;
  width: 15vw;
  height: 95vh;
}

.sidebar {
  list-style-type: square;
  font-size: larger;
  font-style: arial;
  padding: 5%;
}

li {
  padding: 10%;
}

.average-rating,
.reviews,
.sentiment-analysis {
  display: inline-block;
  justify-content: center;
  text-align: center;
  font-style: arial;
  background-color: rgba(0, 0, 0, 0.301);
  margin-top: 15px;
  margin-left: 2%;
  width: 25%;
  height: 40%;
}

.list {
  list-style: none;
}

.website-visitors {
  display: flex;
  background-color: rgba(0, 0, 0, 0.301);
  font-style: arial;
  margin-top: 20%;
  margin-left: -79%;
  width: 79%;
  height: 50%;
}

.visitors {
  margin-left: 20px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.281);
  width: 59rem;
  height: 60%;
}
